/*  using OpenSans because it's nice */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
	/*overflow: hidden;*/
}

body {
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	background: #092756;
	background-image: url("../images/6335b33481b913f437b4e395cf71f9b6.jpg");
}

.jumbotron { 
	width: 100%;
	color: white;
	text-align: center; 
	height: 5px;
	line-height: 0;
	font-size: 20px;
	background: rgba(0, 0, 0, 0.75); 
}

.introText { margin: auto; }

.headContainer,
.userName,
.signOut,
.movieFinder,
 {
	background: rgba(0,0,0,0.5);
	font-size: 13px;
	color: #fff;
	border: 1px solid rgba(0,0,0,0.3);
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}

.userName,
.signOut,
.movieFinder 
{
	background: rgba(0,0,0,0.5);
	font-size: 13px;
	color: #fff;
	border: none;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}

.headContainer { 
	text-align: center;
	margin: 1px auto;
	margin-top: 50px;
	width: 50%;
	width: 300px;
}


.login-container {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width: 300px;
	height: 350px;
}

.insideContainer { margin: auto; }

.login-container h1 {
	color: white;
		text-shadow: 0 0 10px rgba(0,0,0,0.3);		
		letter-spacing: 15px; 	
	text-align: center;
}

.image { 
	background-color: tomato; 
	/*height: 120px;*/
}

.footer {
	font-size: 10px;
	text-align: center;
	position: absolute;
	color: white;
	bottom: 0;
	width: 100%;
	line-height: 30px;
	background-color: rgba(0,0,0,0.8);
	margin-top: 150px;
}




