/*  using OpenSans because it's nice */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
	/*overflow: hidden;*/
}

body {
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	background: #708090;
	/*background-image: url("../images/692438.jpg");*/
}

.jumbotron {
	color: white;
	font-size: 30px;
	background: rgba(0,0,0,0);
	text-align: right;
	margin-right: 20px;
	height: 5%;
}

a {
	color: white; 
	text-decoration: none
}

/*a:hover {
	color: white; 
	text-decoration: none;
	background-color: tomato;
}*/

.navbar-default .navbar-brand:hover {
	background-color: tomato;
	color: white;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	transition: border-radius .5s ease;

}
.logo {
	color: white;
	background: tomato;
	width: 350px;
	padding: 10px;
	text-align: right;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	cursor: pointer;
}

p.light {
	font-weight: 100;
}
p.normal {
	font-weight: 300;
}
p.heavy {
	font-weight: 900;
}

h1 {
	text-align: center;
	color:tomato;
}

.introText { 
	color: white;
	font-size: 50px;
	margin: auto 0px; 
}

.login-btn {
	color: white;
	font-size: 30px;
}

#firebaseui-auth-container{
	width: 400px;
	background: rgba(0,0,0,0);
	border: rgba(0,0,0,0);
}

.signOut 
{
	
	color: white;
	font-size: 30px;
	
}

.userName {
	font-weight: bold;
	margin: 0 auto;
	color: white;
	font-size: 15px;
	/*text-align: center;*/
}

.invisible {display: none;}
	
.movieFinder {
 	text-align: left;
	margin: 0 auto;
	font-size: 20px;
	color: #fff;
	
	 
	/*border: 1px solid rgba(0,0,0,0.3);*/
	/*box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);*/
	/*-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;*/
}

/*.noPadding { padding: 0px; }

.noMargin { margin: 0px; } */

.max-width {
	max-width: 500px;
}
.movie-button {
	text-align: left;
	padding: none;
	border: none;
	background: none;

}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
	color: white;
}

.navbar-default .navbar-brand {
	background-color: tomato;
	padding: 10px;
}

.navbar {
	color: white;
	padding: none;
	border: none;
	background: none;
}

.netflix-size {
	width: 65px;
	height: 20px;
}


.aboutText { 
	color: white;
	font-size: 50px;
	margin: auto 0px; 
}

/*@media (min-width: 768px)
navbar.less:232
.navbar-toggle {
    display: none;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}*/

/*,
.signOut,
.movieFinder 
{
	background: rgba(0,0,0,0.5);
	font-size: 13px;
	color: #fff;
	border: none;
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}

.headContainer2 { 
	text-align: center;
	margin: 1px auto;
	margin-top: 50px;
	width: 50%;
	width: 300px;
}


.login-container {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width: 300px;
	height: 350px;
}

.login-container h1 {
	font-size: 50px; 
	color: white;
	text-shadow: 0 0 10px rgba(0,0,0,0.3);		
	text-align: center;
}

.insideContainer { margin: auto; }

.image { 
	background-color: tomato; 
}
*/
.footer {
	color: white;
	font-size: 10px;
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	/*height: 30px;*/
	line-height: 30px;
	/*border-top: solid;*/
	/*border-width: 1px;*/
	/*margin-top: 150px;*/
	background: tomato;
}


/* CONTACT FORM */


.form-group {
	width: 50%;
	margin: 0 auto;
}
.submit-button { 
	margin-top: 20px
}




